body{
    background: #DCE3E6;
}
.container{
    width: 70%;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto
}
.title {
    background: #2e2e2e;
    padding: 15px;
    color: #fff;
    margin-bottom: 30px;
    font-family: "Press Start 2P", system-ui;
    font-size: 24px;
    box-shadow: 0px 5px black, 0px -5px black, 5px 0px black, -5px 0px black, 0px 10px #00000038, 5px 5px #00000038, -5px 5px #00000038, inset 0px 5px #ffffff1f, inset 0px -5px #00000030;
}
button {
    color: #fff;
    background-color: #6abc3a;
    padding: 15px 40px 15px 40px;
    margin: 10px;
    font-size: 14px;
    font-family: "Press Start 2P", system-ui;
    border: 0;
    box-shadow: 0px 5px black, 0px -5px black, 5px 0px black, -5px 0px black, 0px 10px #00000038, 5px 5px #00000038, -5px 5px #00000038, inset 0px 5px #ffffff36 ;
    cursor: pointer;
}
    button:active {
    transform: translateY(5px);
    box-shadow: 0px 5px black, 0px -5px black, 5px 0px black, -5px 0px black,inset 0px 5px #00000038;
}
